.Header {
    background-color: #bdbd46;
    color: #fff;
    height: 120px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: normal;
    padding-left: 22px;
    a {
        display: flex;
        align-items: center;
    }
    h1 {
        margin-left: 10px;
    }
}

.Content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    div {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .summary {
        flex-direction: column;
        align-items: start;
        h3 {
            margin-bottom: 10px;
        }
    }
}
