.ObjectiveWrap {
    position: relative;
    border-radius: 6px;
    margin: 15px 0;
    padding: 0 10px;
    background: #fff;
    height: 70px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    .ObjectiveHeader {
        display: flex;
        justify-content: space-between;
        margin: 0 0 5px;
        padding: 5px 0;
        border-bottom: 1px solid #898989;
        h2 {
            color: #898989;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            font-weight: normal;
        }
        .ObjectiveButton {
            background: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    p {
        font-size: 1.8rem;
        margin: 5px 0;
    }
    .ObjectiveEmptyButton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-size: 1.4rem;
        padding: 5px 10px;
        border: #fff solid 1px;
        border-radius: 6px;
    }
}

.ObjectiveWrapEmpty {
    background-color: rgb(3, 3, 3, 0.5);
}
