.ScheduleWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .ScheduleHeader {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        h2 {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            margin: 0 10px;
        }
    }

    .ScheduleContainer {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        width: 100%;
        padding: 0 5vw;
        white-space: nowrap;
        scrollbar-width: thin;
        scrollbar-color: #888 #ddd;
        -webkit-overflow-scrolling: touch;
        touch-action: manipulation;
        position: relative;
    }
    .Arrow {
        position: absolute;

        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.5);
        animation: moveArrow 1.5s infinite alternate ease-in-out;
    }

    .Forward {
        right: 0;
    }
    .Back {
        right: 0;
    }

    @keyframes moveArrow {
        0% {
            transform: translateY(-50%) translateX(0);
        }
        50% {
            transform: translateY(-50%) translateX(10px);
        }
        100% {
            transform: translateY(-50%) translateX(0);
        }
    }
}
