.TimerWrap {
    display: flex;
    justify-content: center;
    .Timer {
        display: flex;
        justify-content: center;
    }
    .EndBtn {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}
