.primaryText {
    font-size: 1.8rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1rem;
}
.secondaryText {
    font-size: 1.8rem;
    font-weight: 300;
    color: #000000;
    margin-bottom: 1.5rem;
}
