.TimerWrap {
    text-align: center;
    padding: 20px;
    font-size: 2.4rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    .PauseBtn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 1.6rem;
        border-radius: 8px;
    }
}
