.FooterWrap {
    background-color: #436eee;
    width: 100%;
    height: 83px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    .NavBtn {
        margin-top: 12px;
        text-align: center;
        color: #fff;
    }
}
