@use "variables";

@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");

:where(a, button) {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
:where(img, svg) {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}
:where(button, input, textarea) {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    user-select: none;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: scroll;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ol,
ul,
li {
    margin: 0;
}
dl,
dd,
dt {
    margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    // font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f5f5f5;
    color: #333;
    background-size: contain;
    background-position: top center;
}
