.EditFieldWrap {
    padding: 24px;
    .EditObjective {
        margin-top: 30px;
    }
}

.EditButton {
    display: flex;
    justify-content: space-around;
    Button {
        font-size: 1.1rem;
        width: 100px;
        height: 30px;
    }
}
